body {
	background-color: lightblue;
	color: red;
	font-family: sans-serif;
	text-align: center;
	margin: 30px 50px;
	padding: 50px;
	border: 5px solid black;
	border-radius: 7px;
	border: auto;



}
h2 {
	text-align: left;
	color: green;
	padding: 10px;
}
button {
	height: 50px;
	width: 100px;
	background-color: gold;
	color: black;
	border-radius: 7px;
	border: 5px green;
}
.dugmad {
	display: flex;
	align-self: center;
	padding-left: 400px;
	gap: 10px;

}
#save {
	background-color: pink;
	color: green;


}
#btn1 {
	background-color: darkblue;
	color: white;
}
#dno {
	padding: 20px;

}
#paragraf {
	color: darkblue;
	border: 2px solid green;
	width: auto;
	height: 70px;
	padding: 5px;
}
#logo-holder {
	height: 10px;
	width: 10px;
}
@keyframes slideInLeft {
	from {
		transform: translateX(-300px);
}
to {
	transform: translateX(0);
	}
}
h1 {
animation: slideInLeft 1s ease-in;
}
.dugmad {
	animation: slideInLeft 1s ease-in;
}
@keyframes slideInRight {
	from {
		transform: translateX(600px);
}
to {
	transform: translateX(0);
	}
}
h2 {
	animation: slideInRight 1s ease-in;
}